.task-listing.ng-enter,
.task-listing.ng-leave,
.task-listing.ng-move {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.task-listing.ng-enter,
.task-listing.ng-move {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.task-listing.ng-leave {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

.btn span:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: tada;
  animation-name: tada;
}

.fa-trash-o.destroy:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: swing;
  animation-name: swing;
}
