html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #eef2f4;
}

.task-lists {
  width: 320px;
  height: 100%;
  padding: 25px 20px;
  background-color: #4cb8d8;
  position: fixed;
  top: 0;
  left: 0;
}

.task-lists .nav {
  margin-bottom: 15px;
}

.task-lists .nav-pills > li > a {
  color: #fff;
  padding: 15px 15px;
}

.task-lists .nav-pills > li > a .badge {
  background-color: rgba(255,255,255,.25);
  color: #fff;
  margin-left: 15px;
  padding: 4px 8px;
  font-size: 13px;
}

.task-lists .nav-pills > li > a .destroy {
  font-size: 12px;
  margin-top: 2px;
  color: #FFF;
  display: none;
}

.task-lists .nav-pills > li > a:hover {
  background-color: rgba(255,255,255,0.2);
}

.task-lists .nav-pills > li > a:hover .destroy {
  color: #fff;
  display: block;
}

.task-lists .nav-pills > li.active > a,.task-lists .nav-pills > li.active > a:hover,.task-lists .nav-pills > li.active > a:focus {
  background-color: #fff;
  color: #333;
}

.task-lists .nav-pills > li.active > a .badge {
  background-color: #eee;
  color: #333;
}

.task-lists .nav-pills > li.active > a .destroy,.task-lists .nav-pills > li.active > a:hover .destroy,.task-lists .nav-pills > li.active > a:focus .destroy {
  color: #000;
}

.task-lists .input-group .form-control {
  border: 0;
  height: 50px;
  box-shadow: none;
}

.task-lists .input-group-btn > .btn {
  border: 0;
  margin: 0;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
  background-color: rgba(255,255,255,.6);
}

.task-lists .input-group-btn > .btn:hover {
  background-color: rgba(255,255,255,.5);
}

.tasks {
  padding: 0 0 0 320px;
  background-color: transparent;
  border: 0;
}

.tasks ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.tasks ul li {
  border-bottom: 1px solid rgba(0,0,0,.15);
  background-color: #fff;
  padding: 15px;
}

.tasks ul li label {
  margin: -2px 10px 0 -22px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #f6f6f6;
  border: 1px solid #c8c8c8;
  vertical-align: middle;
  text-align: center;
}

.tasks ul li label .glyphicon {
  display: none;
}

.tasks ul li > span {
  position: relative;
}

.tasks ul li > span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #000;
  -webkit-transition: width .2s;
  transition: width .2s;
}

.tasks ul li input[type=checkbox] {
  margin: 0;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.tasks ul li input[type=checkbox]:checked + label {
  background-color: #6fd653;
  border: 0;
}

.tasks ul li input[type=checkbox]:checked + label .glyphicon {
  display: block;
  color: #fff;
  font-size: 12px;
  margin: 3px 0 0 0;
  vertical-align: middle;
}

.tasks ul li input[type=checkbox]:checked + label + span:after {
  width: 100%;
}

.tasks ul li .destroy-task {
  margin-top: 2px;
  font-size: 12px;
  display: none;
  cursor: pointer;
}

.tasks ul li:hover .destroy-task {
  display: block;
}

.tasks .input-group {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.tasks .input-group .form-control {
  border-radius: 0;
  border: 0;
  height: 50px;
  box-shadow: none;
}

.tasks .input-group-btn > .btn {
  border: 0;
  margin: 0;
  border-radius: 0;
  height: 50px;
  font-size: 15px;
  padding: 14px 20px;
  background-color: #6fd653;
  color: #fff;
}

.tasks .input-group-btn > .btn:hover {
  background-color: #61c945;
}

/*.task-widget .input-group-btn > .btn:hover {
  border-color: #39b3d7;
}

.task-widget input.form-control {
  box-shadow: none;
  border-right: 0;
  font-size: 13px;
  padding: 9px 12px;
  height: 38px;
}*/